
<!DOCTYPE html>
<html>
    <head>
      <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia">
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"></head>
<div class="container-fluid">
<nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">Home</li>
      <li class="breadcrumb-item active" aria-current="page">HelpLine Numbers</li>
    </ol>
  </nav>
  <div class="grid-container">
   
    <div>Citizen's Call Center<br><i class="hello material-icons">phone</i>10153</div>
    <div>Women HelpLine<br><i class="hello material-icons">phone</i>1091</div>
    <div>Rescue & Relief<br><i class="hello material-icons">phone</i>1070</div>  
    <div>Child HelpLine<br><i class="hello material-icons">phone</i>1098</div>
    <div>Crime Stopper<br><i class="hello material-icons">phone</i>1090</div>
    <div>Covid Call Centre 24*7<br><i class="hello material-icons">phone</i>988366119</div>
</div>
</div>
</html>
<div class="container">
  <div class="row">
    <div class="col-md-10">
      <h1>About COVID-19</h1><hr>
      <p>Coronavirus disease (COVID-19) is an infectious disease caused by the SARS-CoV-2 virus.<br><br>
Most people infected with the virus will experience mild to moderate respiratory illness and recover without requiring special treatment. However, some will become seriously ill and require medical attention. Older people and those with underlying medical conditions like cardiovascular disease, diabetes, 
chronic respiratory disease, or cancer are more likely to develop serious illness. Anyone can get sick with COVID-19 and become seriously ill or die at any age. 
The best way to prevent and slow down transmission is to be well informed about the disease and how the virus spreads. Protect yourself and others from infection by staying at least 1 metre apart from others, wearing a properly fitted mask, and washing your hands or using an alcohol-based rub frequently. Get vaccinated when it’s your turn and follow local guidance.
The virus can spread from an infected person’s mouth or nose in small liquid particles when they cough, sneeze, speak, sing or breathe. These particles range from larger respiratory droplets to smaller aerosols. It is important to practice respiratory etiquette, for example by coughing into a flexed elbow, and to stay home and self-isolate until you recover if you feel unwell.</p>
    </div>
    <div class="col">
     <h3>District At Glance</h3>
     <ul>
      <li>Area: 154 km²</li>
      <li>Population: 5.67 lakhs (2011)</li>
      <li>Literacy Rate: 85.91%</li>
      <li>District: Paschim Bardhaman</li>
      <li>ISO 3166 code: ISO 3166-2:IN</li>
      </ul>
      </div>
    
      </div>
      </div>



