<div class="container-fluid">
 <h1>Don't be afraid to go to the hospital.
   hospitals are safe places for care. Protective measures are in 
   place to prevent the spread of COVID-19.</h1>
   <hr>
   <div class="media media_smStack">
    <img class="media-img mix-media-img_loose" src="../../assets/check-mark-red.png" alt="Generic placeholder image">
    <div class="media-body">
      <h5 class="mt-0">Severe Symptoms</h5>
      <strong>If you are experiencing a medical emergency, call 911. </strong>
      <p>If you are experiencing the severe symptoms listed below, go to the nearest hospital or emergency room right away. 
        Do not ignore your body's warning signs. Delaying treatment can have serious, even deadly consequences.</p>
        <strong>Symptoms that may indicate a life-threatening emergency include:</strong>
      <ul><li>Shortness of breath or difficulty breathing</li>
        <li>Chest or upper abdominal pain or pressure</li>
          <li>Sudden dizziness, weakness or fainting</li>
            <li>Sudden change to vision</li>
              <li>Confusion, sudden change in your mental status</li>
                <li>Sudden or severe pain</li>
                  <li>Uncontrolled bleeding</li>
                    <li>Severe vomiting or diarrhea</li>
                      <li>Vomiting or coughing blood</li>
                        <li>Difficulty speaking</li></ul>
                       <strong> Severe COVID-19 symptoms to watch include:</strong>
       <ul><li>Shortness of breath while at rest</li>
          <li>Dry cough, fever, breathing getting more difficult</li>
            <li>Significant or worrisome cough that is increasing</li>
              <li>Confusion or sudden change in mental status</li>
                <li>Chest pain</li>
                  <li>Low oxygen levels</li>
                    <li>Extreme sleepiness or inability to wake</li>
                      <li>Blue face or lips</li></ul>
    </div>
  </div>
  <hr>
  <div class="media media_smStack">
    <img class="media-img mix-media-img_loose" src="../../assets/check-mark-yellow.png" alt="Generic placeholder image">
    <div class="media-body">
      <h5 class="mt-0">Moderate Symptoms</h5>
      <p>If you are not experiencing shortness of breath, but are getting sicker, 
        you may need to be evaluated by a medical professional. If you’re concerned,
         we want to see you. Call your primary care provider or visit an urgent care facility.</p>
         <strong>Symptoms to watch closely, especially in combination: </strong>
         <ul>
           <li>Fever with muscle aches and fatigue</li>
            <li>Reduced sense of taste and smell</li>
              <li>Severe diarrhea and other stomach problems</li>
                <li>Increasing dry, persistent cough that is worsening</li>
         </ul>
    </div>
</div>
<hr>
<div class="media media_smStack">
  <img class="media-img mix-media-img_loose" src="../../assets/check-mark-green.png" alt="Generic placeholder image">
  <div class="media-body">
    <h5 class="mt-0">Mild Symptoms</h5>
    <p>If you think you were exposed to COVID-19, or have mild symptoms,
       do NOT come to the hospital for a test. If you have mild symptoms, you can schedule a test.</p>
       <strong>If you are experiencing mild symptoms: </strong>
       <ul>
         <li>Stay at home. Self-quarantine is critical to stopping coronavirus spread.</li>
          <li>Our COVID-19 hotline offers instructions or assistance at (208) 381-9500.</li>
            <li>Wear a mask, social distance, wash your hands often, and disinfect high-touch surfaces.</li>
              
       </ul>
  </div>
</div>
<hr>
<div class="row-md-12">AVAILABILITY OF BEDS </div>
<div class="row d-flex justify-content-center">
    
  <div class="card mb-4 m-auto" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">The Mission Hospital,Durgapur</h5>
        <h6 class="card-subtitle mb-2 text-muted">Immon Kalyan Sarani, Sector IIC, Bidhannagar, Durgapur, West Bengal 713212</h6>
        <h6 class="badge-info" >Beds:10</h6>
      </div>
      <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">{{Call}}</button>
    </div>
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Contact Information</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            Phone Number:9875468214/08687500500
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
      </div>
    </div>

    <div class="card mb-4 m-auto" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">HealthWorld Hospitals</h5>
        <h6 class="card-subtitle mb-2 text-muted">City Center, C-49, Mahatma Gandhi Rd, opp. ESIC Sub-Regional Office,
           Gandhi More, Commercial Area, Durgapur, West Bengal 713216</h6>
        <h6 class="badge-info" >Beds:25</h6>
      </div>
      <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#a">{{Call}}</button>
    </div>
    <div class="modal fade" id="a" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true"> 
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Contact Information</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            Phone Number: 08170055555
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
      </div>
    </div>

    <div class="card mb-4 m-auto" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">IQ City Medical College Hospital</h5>
        <h6 class="card-subtitle mb-2 text-muted">IQ City Rd, Durgapur, West Bengal 713206</h6>
        <h6 class="badge-info" >Beds:12</h6>
      </div>
      <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#b">{{Call}}</button>
    </div>
    <div class="modal fade" id="b" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Contact Information</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            Phone Number:03432608000
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
      </div>
    </div>
    </div>
    <br>
    <br>


    <div class="row d-flex justify-content-center">
    
      <div class="card mb-4 m-auto" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">ESI Hospital Durgapur</h5>
            <h6 class="card-subtitle mb-2 text-muted">Dr, Dr Zakir Hussain Ave, Bidhannagar, Durgapur, West Bengal 713212</h6>
            <h6 class="badge-info" >Beds:22</h6>
          </div>
          <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#c">{{Call}}</button>
        </div>
        <div class="modal fade" id="c" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Contact Information</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                Phone Number:98547123269
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
          </div>
        </div>
    
        <div class="card mb-4 m-auto" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">DPL Main Hospital</h5>
            <h6 class="card-subtitle mb-2 text-muted"> F7VW+M3X, DPL Coke Oven Colony, Durgapur, West Bengal 713202</h6>
            <h6 class="badge-info" >Beds:10</h6>
          </div>
          <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#d">{{Call}}</button>
        </div>
        <div class="modal fade" id="d" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true"> 
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Contact Information</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                Phone Number:9875468222
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
          </div>
        </div>
        
    
        <div class="card mb-4 m-auto" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">The Nation Hospital</h5>
            <h6 class="card-subtitle mb-2 text-muted">G97F+GX4, Arrah Kalinagar, Durgapur, West Bengal 713212</h6>
            <h6 class="badge-info" >Beds:19</h6>
          </div>
          <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#e">{{Call}}</button>
        </div>
        <div class="modal fade" id="e" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Contact Information</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                Phone Number:9875468321
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
          </div>
        </div>
        </div>
          <br>
          <br>
        <div class="row d-flex justify-content-center">
    
          <div class="card mb-4 m-auto" style="width: 18rem;">
              <div class="card-body">
                <h5 class="card-title">Durgapur City Hospital & Clinic</h5>
                <h6 class="card-subtitle mb-2 text-muted">4th & 5th, Doctor's Colony, Central Park, City Center, Durgapur, West Bengal 713216</h6>
                <h6 class="badge-info" >Beds:14</h6>
              </div>
              <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#e">{{Call}}</button>
            </div>
            <div class="modal fade" id="e" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Contact Information</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    Phone Number:98547123364
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
              </div>
            </div>
        
            <div class="card mb-4 m-auto" style="width: 18rem;">
              <div class="card-body">
                <h5 class="card-title">Vivekananda Hospital</h5>
                <h6 class="card-subtitle mb-2 text-muted">  Dr Zakir Hussain Ave, Bidhannagar, Durgapur, West Bengal 713206</h6>
                <h6 class="badge-info" >Beds:25</h6>
              </div>
              <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#d">{{Call}}</button>
            </div>
            <div class="modal fade" id="d" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true"> 
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Contact Information</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    Phone Number:9875468229
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
              </div>
            </div>
            
        
            <div class="card mb-4 m-auto" style="width: 18rem;">
              <div class="card-body">
                <h5 class="card-title">Durgapur Sub Divisional Hospital</h5>
                <h6 class="card-subtitle mb-2 text-muted"> G8GR+CV6, Bidhannagar, Durgapur, West Bengal 713212</h6>
                <h6 class="badge-info" >Beds:28</h6>
              </div>
              <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#f">{{Call}}</button>
            </div>
            <div class="modal fade" id="f" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Contact Information</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    Phone Number:98754683456
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
              </div>
            </div>
            </div>
      </div>
      <app-footer></app-footer>

 