<div class="container-fluid">
 <div class="row d-flex justify-content-center">
     <div class="col d-flex justify-content-center">
        <div class="col-md-10 ">
            <h2><u>EMERGENCY MEDICAL SERVICES</u></h2>
            <p>Emergency medical service (EMS) also known as ambulance services provide 
                urgent medical care on the scene. To respond to different types of medical 
                emergencies various types of ambulances are designed which are provided with 
                special medical equipment and medical professionals who can deal with medical 
                emergencies. Meddco ambulance assistance app can help choose the best kind of 
                ambulances from basic ambulances to air ambulance they have simple to the most 
                advanced type of modern ambulances 
                to select and transport patients and act as the First responder.</p>
            </div>
     </div>
    </div>
   <br><br>
   <div class="container">
<div class="row">
    <div class="col-md-3">
     <div class="card" style="width: 18rem;height: fit-content;">
         <img src="../../assets/BasicAmbulance.png" class="card-img-top" alt="...">
     </div>
       </div>
     
     <div class="col-md-8">
         <h2>Basic Ambulance</h2>
         <p>  These types of ambulances are the basic ambulances that we commonly 
             see in our daily lives. Basic ambulances are handled by an emergency medical 
             technician (EMT) and transport patients who require basic medical supervision 
             under minor or uncritical situations such as mild fractures, and 
             sub-acute care facilities (nursing homes). It comprises of the patient bed, 
             pulse oximetry and oxygen delivery devices.</p>
 </div>
 </div><br><br>   
 <div class="row">
    <div class="col-md-8">
        <h2>Advance Ambulance</h2>
        <p>  These types of ambulances are the basic ambulances that we commonly 
            see in our daily lives. Basic ambulances are handled by an emergency medical 
            technician (EMT) and transport patients who require basic medical supervision 
            under minor or uncritical situations such as mild fractures, and 
            sub-acute care facilities (nursing homes). It comprises of the patient bed, 
            pulse oximetry and oxygen delivery devices.</p>
</div>
    <div class="col-md-4">
     <div class="card" style="width: 18rem; padding:20px ;height: fit-content">
         <img src="../../assets/AdvanceAmbulance.png" class="card-img-top" alt="...">
     </div>
       </div>
     
   
 </div> <br><br>
  <div class="row">
    <div class="col-md-3">
     <div class="card" style="width: 18rem;height: fit-content">
         <img src="../../assets/MortuaryAmbulance.png" class="card-img-top" alt="...">
     </div>
       </div>
     
     <div class="col-md-8">
         <h2>Mortuary Ambulance</h2>
         <p>  These types of ambulances are the basic ambulances that we commonly 
             see in our daily lives. Basic ambulances are handled by an emergency medical 
             technician (EMT) and transport patients who require basic medical supervision 
             under minor or uncritical situations such as mild fractures, and 
             sub-acute care facilities (nursing homes). It comprises of the patient bed, 
             pulse oximetry and oxygen delivery devices.</p>
 </div>
</div><br><br>

<div class="row">
    <div class="col-md-8">
        <h2>Neonatal Ambulance</h2>
        <p>  These types of ambulances are the basic ambulances that we commonly 
            see in our daily lives. Basic ambulances are handled by an emergency medical 
            technician (EMT) and transport patients who require basic medical supervision 
            under minor or uncritical situations such as mild fractures, and 
            sub-acute care facilities (nursing homes). It comprises of the patient bed, 
            pulse oximetry and oxygen delivery devices.</p>
</div>
    <div class="col-md-4">
     <div class="card" style="width: 18rem;height: fit-content">
         <img src="../../assets/NeonatalAmbulance.png" class="card-img-top" alt="...">
     </div>
       </div>
       </div>
       <br> <br>
         
       <div class="row">
        <div class="col-md-3">
         <div class="card" style="width: 18rem;height: fit-content">
             <img src="../../assets/PatientTransportVehicle.png" class="card-img-top" alt="...">
         </div>
           </div>
         
         <div class="col-md-8">
             <h2>Patient Transport Ambulance</h2>
             <p>  These types of ambulances are the basic ambulances that we commonly 
                 see in our daily lives. Basic ambulances are handled by an emergency medical 
                 technician (EMT) and transport patients who require basic medical supervision 
                 under minor or uncritical situations such as mild fractures, and 
                 sub-acute care facilities (nursing homes). It comprises of the patient bed, 
                 pulse oximetry and oxygen delivery devices.</p>
     </div>
    </div>
</div>
</div>
<hr>
<div class="container">
    <div class="main">
        <h1>AMBULANCE SERVICES IN CASE OF EMERGENCY  (24*7)</h1><br>
    </div>
   
<div class="row d-flex justify-content-center">
    
<div class="card mb-4 m-auto" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">Bud Bud<br> Hospital</h5>
      <p class="card-text">Bara Bazar,BidhanNagar</p>
      <h6 class="badge-info">Phone:9002076305/1428953765</h6>
    </div>
  </div>

  <div class="card mb-4 m-auto" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">Sambu Ambulance Service</h5>
      <p class="card-text">Bhangakuti,BidhanNagar</p>
      <h6 class="badge-info">Phone:9002076305/1428953765</h6>
    </div>
  </div>

  <div class="card mb-4 m-auto" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">Maa Ambulamce</h5>
      <p class="card-text">BidhanNagar,Durgapur</p>
      <h6 class="badge-info">Phone:9002077805/1428953745</h6>
    </div>
  </div>
</div>

<div class="row d-flex justify-content-center">
    
  <div class="card mb-4 m-auto" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">Samrat Ambulamce Service</h5>
      <p class="card-text">BidhanNagar,Durgapur</p>
      <h6 class="badge-info">Phone:9002076342/1428953765</h6>
    </div>
  </div>
    
  <div class="card mb-4 m-auto" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">Bud Bud<br> Hospital</h5>
      <p class="card-text">Bara Bazar,BidhanNagar</p>
      <h6 class="badge-info">Phone:9002076305/1428953765</h6>
    </div>
  </div>
    
  <div class="card mb-4 m-auto" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">Surakhsha Helpline</h5>
      <p class="card-text">Ghos Para,Gandhinagar</p>
      <h6 class="badge-info">Phone:9002076795/1428953712</h6>
    </div>
  </div>
    </div>

    <div class="row d-flex justify-content-center">
    
      <div class="card mb-4 m-auto" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Bud Bud<br> Hospital</h5>
          <p class="card-text">Bara Bazar,BidhanNagar</p>
          <h6 class="badge-info">Phone:9002076305/1428953765</h6>
        </div>
      </div>
        
      <div class="card mb-4 m-auto" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">City Medical Hall</h5>
          <p class="card-text">Durgapur Steel Plant</p>
          <h6 class="badge-info">Phone:9002076348/1428953747</h6>
        </div>
      </div>
        
      <div class="card mb-4 m-auto" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Rekha Ambulance Service</h5>
          <p class="card-text">Asha Bari Sarani</p>
          <h6 class="badge-info">Phone:9002076457/1428953774</h6>
        </div>
      </div>
        </div>
</div>
<app-footer></app-footer>




       