<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-5">
            <h1>COVID-19 vaccines: everything you need to know</h1>
            <hr>
            <p>Now that COVID-19 vaccines have reached billions of people worldwide, 
                the evidence is overwhelming that no matter which one you take, 
                the vaccines offer life-saving protection against a disease that has killed millions. 
                The pandemic is far from over, and they are our best bet of staying safe.</p>
        </div>
        <div class="col-md-7">
           <img src="../../assets/covid.jpg" style="width:auto;height:500px;">
         </div>
    </div>

    <div class="row-md-10 justify-content-center">
        <h2>Vaccination overview</h2>
        <h5>From Our World in Data · Last updated: 2 days ago</h5>
        <hr>
        <div class="flag">
            <span>
                <img src="../../assets/flag.png" style="width: 50px;height:50px"> India
            </span>
        </div>
        <table class="table">
            <tbody>
                <tr>
                    <td>Dosage given</td>
                    <td>Fully Vaccinated</td>
                    <td>% of population fully vaccinated</td>
                </tr>
                <tr>
                    <td>82.7Cr</td>
                    <td>21.2Cr</td>
                    <td>15.5%</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="row-md-10 justify-content-center">
        <div class="worldwide">
            <span>
                <img src="../../assets/world.png" style="width: 50px;height:50px"> Worldwide
            </span>
        </div>
        <table class="table">
            <tbody>
                <tr>
                    <td>Dosage given</td>
                    <td>Fully Vaccinated</td>
                    <td>% of population fully vaccinated</td>
                </tr>
                <tr>
                    <td><div>603Cr</div><div>+2.09Cr</div></td>
                    <td><div>253Cr</div><div>+71.7L</div></td>
                    <td><div>32.4%</div><div>+0.1%</div></td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="row">
        <div class="col-12 col-md-8">
            <h1>Are You Procted Against <br>COVID-19</h1><br>
           
            <p>क्या आप कोविड-19 से सुरक्षित हैं ?</p> 

            <br>

            <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#exampleModal">Book your Slot</button><br><br>
            
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                     <app-form></app-form>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                      </div>
                  </div>
                </div>
              </div>
              <p>You can also Book your vaccination by :</p>
              <button class="btn btn-primary"><a href="https://www.cowin.gov.in/">CoWin</a></button>
        </div>
        <div class="col-12 col-md-4">
            <img src="../../assets/modi.png">
            
        </div>
    </div>
</div>
<app-footer></app-footer>