<head>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<div class="container-fluid">
<div class="container">
    <div class="row">
        <div class="col-12 col-md-4">
            <h5>Corona Update (Live) : 502 new cases in West-bengal today</h5>
            <p style="text-align: justify;">1539065 people are so far affected in West-bengal by novel
                 coronavirus covid-19. 1510921 out of 1539065 have recovered. 
                 Sadly, 18312 patients have died due to coronavirus in West-bengal. 
                 9832 patients are still in hospital and recovering. The last recorded case of 
                 coronavirus in West-bengal was 3 minutes ago. Below is the list of sources 
                 from which data is aggregated into a crowdsourced patient database along with
                  some note on travel history and suspected contraction from another patient if any. 
                  All data is verified by a group of volunteers at Covid19India.org after aggregating 
                  from various 
                district and state level health bulletins and other reliable sources.</p>
        </div>
        <div class="col-12 col-md-8">
           <div class="header">Last case recorded in West-bengal - 3 minutes ago</div><br>
           <div class="row justify-content-center">
            <div class="col-md-4">
                <div class="card" style="color:red;"><div class="card-body">
                    <h4 class="card-title">Confirmed</h4>
                    <p>1539065</p>
                    <p class="card-text"><i class="large material-icons">arrow_upward</i> 502</p>
                  </div></div>
            </div>
            <div class="col-md-4">
                <div class="card" style="color:skyblue;"><div class="card-body">
                    <h4 class="card-title" >Active</h4><br>
                    <p>9832</p>
                    <p class="card-text"></p>
                  </div></div>
            </div>
        </div><br>
        <div class="row justify-content-center">
            <div class="col-md-4">
                <div class="card" style="color:lawngreen"><div class="card-body">
                    <h4 class="card-title">Recovered</h4>
                    <p>1510921</p> 
                    <p class="card-text">
                       
                    <p><i class="large material-icons">arrow_upward</i>691</p>
                  </div></div>
            </div>
            <div class="col-md-4">
                <div class="card"><div class="card-body">
                    <h4 class="card-title">Deaths</h4>
                    <p>18312</p>
                    <p class="card-text">
                        <p><i class="large material-icons">arrow_upward</i>9</p>
                    
                  </div></div>
            </div>
        </div>
        </div>
        </div>
       <hr> 
       <table class="table">
        <thead>
          <tr>
            <th scope="col">District</th>
            <th scope="col">Total Cases</th>
            <th scope="col">New Cases</th>
            <th scope="col">Total Deaths</th>
            <th scope="col">New Deaths</th>
            <th scope="col">Total Recovered</th>
            <th scope="col">Active Cases</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">Unknown</th>
            <td>609</td>
            <td>609</td>
            <td>8</td>
            <td>0</td>
            <td>7</td>
            <td>594</td>
          </tr>
          <tr>
            <th scope="row">Bankura</th>
            <td>1</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>1</td>
          </tr>
          <tr>
            <th scope="row">Birbhum</th>
            <td>11</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>3</td>
            <td>8</td>
          </tr>
          <tr>
            <th scope="row">Dakshin Dinajpur</th>
            <td>2</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>2</td>
          </tr>
          <tr>
            <th scope="row">Darjeeling</th>
            <td>5</td>
            <td>0</td>
            <td>1</td>
            <td>0</td>
            <td>1</td>
            <td>3</td>
          </tr>
          <tr>
            <th scope="row">Darjeeling</th>
            <td>5</td>
            <td>0</td>
            <td>1</td>
            <td>0</td>
            <td>1</td>
            <td>3</td>
          </tr><tr>
            <th scope="row">Hooghly</th>
            <td>40</td>
            <td>0</td>
            <td>3</td>
            <td>0</td>
            <td>16</td>
            <td>21</td>
          </tr><tr>
            <th scope="row">Howrah</th>
            <td>53</td>
            <td>0</td>
            <td>14</td>
            <td>0</td>
            <td>18</td>
            <td>21</td>
          </tr><tr>
            <th scope="row">Jalpaiguri</th>
            <td>2</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>1</td>
            <td>1</td>
          </tr><tr>
            <th scope="row">Jhargram</th>
            <td>2</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>1</td>
            <td>1</td>
          </tr>
          
        </tbody>
      </table>
      </div>
      <app-footer></app-footer>
</div>
  

