<hr>
<div class="container-fluid">
    <div class="row justify-content-md-center">
      <div class="col col-lg-2">
      WEBSITE POLICY
      </div>
      <div class="col-md-2">
        HELP
      </div>
      <div class="col col-lg-2">
       CONTACT US
      </div>
    </div><br>
    <div class="row justify-content-md-center">
        <div class="col-md-2">
            <p>Content Owned by District Administration<br>
                © Purba Bardhaman District Administration , 
                Developed and hosted by Ashish Kumar</p>
          </div>
    </div>
    <div class="row justify-content-md-center">
        <div class="col-md-2">
            <p>Last Updated: Sep 18, 2021</p>
          </div>
    </div>
    <div class="row justify-content-md-center">
        <div class="col-md-2">
            <a href="https://s3waas.gov.in/"><img src="assets/powerd.png" height="50"width="100"></a>
          </div>
          <div class="col-md-2">
            <a href="https://www.digitalindia.gov.in/">
            <img src="assets/digitalIndia.png" height="50"width="100"></a>
          </div>
          <div class="col-md-2">
            <a href="https://www.nic.in/">
            <img src="assets/nicLogo.png" height="50"width="100"></a>
          </div>
    </div>
    </div>